{% extends 'base.html' %}

{% block content %}


<div style="width: 83vw; overflow-x: auto; max-height: 70vh; overflow-y: auto; display: flex; align-items: center; flex-wrap: wrap; flex-grow: 1;">
    <label style="font-size: 32px; white-space: nowrap;">{{ patient.name }}</label> 
    <form method="POST" action="" style="display: flex; align-items: center; margin-left: 4%;">         
        <button type="button" style="width: 5vw; padding: 5px;  font-size: 14px;" >
            New Case
        </button>
    </form>
</div>

<br>

<div style="width: 83vw; overflow-x: auto; max-height: 70vh; overflow-y: auto;">
    <table style="border-collapse: collapse; width: 80vw;"> 
        <thead>
            <tr>
                <th style="padding-left: 30px;">Clinician</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>Date</th>
                <th>Readmission</th>
                <th style="padding-right: 50px;">Remarks</th>
            </tr>
        </thead>
        <tbody>
        {% for x in admissions %}
            <tr onclick="window.location.href='/admissions/patients/{{ x.id }}/'">
                <td style="padding-left: 30px;"><em>{{ x.clinician.name }}</em></td>
                <td><em>{{ x.diagnosis }}</em></td>
                <td><em>{{ x.treatment }}</em></td>
                <td><em>{{ x.date }}</em></td>
                <td><em>{% if x.is_readmission %}Yes{% else %}No{% endif %}</em></td>
                <td style="padding-right: 50px;"><em>{{ x.remarks }}</em></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}