{% extends 'base.html' %}

{% block content %}
<div style="width: 75vw; overflow-x: auto; max-height: 70vh; overflow-y: auto; display: flex; align-items: center; flex-wrap: wrap; flex-grow: 1;">
    <label style="font-size: 32px; white-space: nowrap;">Import Patients</label>
</div>

<br>
<div>
    <label>Download Template</label>
    <a href="{% url 'download_patient_csv_template' %}">
        <button type="button">CSV Template</button>
    </a>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="">Upload</button>
</form>


<br>

<div style="width: 75vw; overflow-x: auto; max-height: 70vh; overflow-y: auto;">
    <table style="border-collapse: collapse; width: 75vw;"> 
        <thead>
            <tr>
                <th style="padding-left: 30px;">Name</th>
                <th>Sex</th>
                <th>Birthdate</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th style="padding-right: 50px;">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for x in patients %}
            <tr>
                <td style="padding-left: 30px;"><em>{{ x.name }}</em></td>
                <td><em>{{ x.sex }}</em></td>
                <td><em>{{ x.birthdate }}</em></td>
                <td><em>{{ x.address }}</em></td>
                <td><em>{{ x.contact_number }}</em></td>
                <td style="padding-right: 50px;"><em>{{x.email}}</em></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
